### 15.1 Metacharecters - 1

In [2]:
# regex_experiments.py

import re
data = ['ab', 'abc', 'a5e', 'a6f', '123 a6c', 'a5b', 'a55b', 'a555b', 'a5555b',
        'a55555b', 'a555555b', 'a5xb', '1/4', '3+2=5', 'def ghi', 'abc ab']

abc matched in 'abc'
abc matched in 'abc ab'

In [4]:
for item in data:
	m = re.match(r'a.c', item)
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

abc matched in 'abc'
abc matched in 'abc ab'

In [5]:
for item in data:
	m = re.search(r'a.c', item)
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

abc matched in 'abc'
a6c matched in '123 a6c'
abc matched in 'abc ab'

In [6]:
# any 3 charecter pattern starting with a
for item in data:
	m = re.search(r'a..', item)
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

abc matched in 'abc'
a5e matched in 'a5e'
a6f matched in 'a6f'
a6c matched in '123 a6c'
a5b matched in 'a5b'
a55 matched in 'a55b'
a55 matched in 'a555b'
a55 matched in 'a5555b'
a55 matched in 'a55555b'
a55 matched in 'a555555b'
a5x matched in 'a5xb'
abc matched in 'abc ab'

In [9]:
# any three charecters starting with a, followed by any charecter, followed by one of b, c, or f
for item in data:
	m = re.search(r'a.[bcf]', item)
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

abc matched in 'abc'
a6f matched in 'a6f'
a6c matched in '123 a6c'
a5b matched in 'a5b'
abc matched in 'abc ab'

In [12]:
# [abd-z] except c match all small alphabets: d-z => d to z, 0-9 => 0 to 9

for item in data: 
	m = re.search(r'a.[abd-z]', item)  #'a.[a-z]'
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

a5e matched in 'a5e'
a6f matched in 'a6f'
a5b matched in 'a5b'
a5x matched in 'a5xb'

In [13]:
# [abd-z] except c match all small alphabets: d-z => d to z, 0-9 => 0 to 9

for item in data:
	m = re.search(r'a[0-9][a-z]', item)
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

a5e matched in 'a5e'
a6f matched in 'a6f'
a6c matched in '123 a6c'
a5b matched in 'a5b'
a5x matched in 'a5xb'

In [15]:
# [^cf] except c and f match all other alphabets

for item in data:
	m = re.search(r'a[0-9][cf]', item)
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

a6f matched in 'a6f'
a6c matched in '123 a6c'

In [16]:
# [^cf] except c and f match all other alphabets

for item in data:
	m = re.search(r'a[0-9][^cf]', item)
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

a5e matched in 'a5e'
a5b matched in 'a5b'
a55 matched in 'a55b'
a55 matched in 'a555b'
a55 matched in 'a5555b'
a55 matched in 'a55555b'
a55 matched in 'a555555b'
a5x matched in 'a5xb'

In [22]:
# 3+2
for item in data:
	m = re.search(r'3+2', item) # + has a special meaning in re
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

In [24]:
for item in data:
	m = re.search(r'3\+2', item) # + has a special meaning in re
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

3+2 matched in '3+2=5'

In [21]:
for item in data:
	m = re.search(r'[0-9]+[0-9]', item) # + has a special meaning in re
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

123 matched in '123 a6c'
55 matched in 'a55b'
555 matched in 'a555b'
5555 matched in 'a5555b'
55555 matched in 'a55555b'
555555 matched in 'a555555b'

In [26]:
for item in data:
	m = re.search(r'[0-9]\+[0-9]', item) # + has a special meaning in re
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

3+2 matched in '3+2=5'

In [27]:
# Use | symbol for considering two or more regular expressions
for item in data:
	m = re.search(r'[0-9]\+[0-9]|a.c', item) # + has a special meaning in re
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

abc matched in 'abc'
a6c matched in '123 a6c'
3+2 matched in '3+2=5'
abc matched in 'abc ab'

### 15.2 Metacharecters - 2

In [29]:
for item in data:
	m = re.search(r'\d\+\d', item) 
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

3+2 matched in '3+2=5'

In [30]:
for item in data:
	m = re.search(r'\w\s\w', item) 
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

3 a matched in '123 a6c'
f g matched in 'def ghi'
c a matched in 'abc ab'

### 15.3 Metacharecters - 3

In [31]:
for item in data:
	m = re.search(r'a6', item) 
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

a6 matched in 'a6f'
a6 matched in '123 a6c'

In [32]:
for item in data:
	m = re.search(r'^a6', item) 
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

a6 matched in 'a6f'

In [33]:
for item in data:
	m = re.search(r'..c', item) 
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

abc matched in 'abc'
a6c matched in '123 a6c'
abc matched in 'abc ab'

In [34]:
for item in data:
	m = re.search(r'..c$', item) 
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

abc matched in 'abc'
a6c matched in '123 a6c'

In [35]:
for item in data:
	m = re.search(r'ab\b', item) 
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

ab matched in 'ab'
ab matched in 'abc ab'

In [36]:
for item in data:
	m = re.search(r'ab\B', item) 
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

ab matched in 'abc'
ab matched in 'abc ab'

### 15.4 Metacharecters - 4

In [37]:
for item in data:
	m = re.search(r'a55*b', item) 
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

a5b matched in 'a5b'
a55b matched in 'a55b'
a555b matched in 'a555b'
a5555b matched in 'a5555b'
a55555b matched in 'a55555b'
a555555b matched in 'a555555b'

In [38]:
for item in data:
	m = re.search(r'a55+b', item) 
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

a55b matched in 'a55b'
a555b matched in 'a555b'
a5555b matched in 'a5555b'
a55555b matched in 'a55555b'
a555555b matched in 'a555555b'

In [39]:
for item in data:
	m = re.search(r'a55?b', item) 
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

a5b matched in 'a5b'
a55b matched in 'a55b'

In [40]:
for item in data:
	m = re.search(r'a55{4}b', item) 
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

a55555b matched in 'a55555b'

In [41]:
for item in data:
	m = re.search(r'a55{2,4}b', item) 
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

a555b matched in 'a555b'
a5555b matched in 'a5555b'
a55555b matched in 'a55555b'

In [42]:
for item in data:
	m = re.search(r'a55{2,}b', item) 
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

a555b matched in 'a555b'
a5555b matched in 'a5555b'
a55555b matched in 'a55555b'
a555555b matched in 'a555555b'

In [43]:
for item in data:
	m = re.search(r'a55{,4}b', item) 
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

a5b matched in 'a5b'
a55b matched in 'a55b'
a555b matched in 'a555b'
a5555b matched in 'a5555b'
a55555b matched in 'a55555b'

In [44]:
for item in data:
	m = re.search(r'a(55){2}b', item) 
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

a5555b matched in 'a5555b'

### Exercise

In [46]:
text = "This statement 3.1245 containes 66.564 floating point 45645 numbers"

In [47]:
p = r"\d+\.\d+" # floating point numbers

In [48]:
re.findall(p, text)

['3.1245', '66.564']

In [49]:
p = r"\d+\.?\d*" # All numbers

In [50]:
re.findall(p, text)

['3.1245', '66.564', '45645']

In [51]:
text = "These are +919847387483, Another 9877634554, Yet another 09877687635 phone numbers"

In [68]:
pp = r"0?(\+91)?\d{10}" # [abc] => [(ab)(bc)(cd)]

In [71]:
for m in re.finditer(pp, text):
    print(m.group())

+919847387483
9877634554
09877687635