### Core Developer

In [27]:

class employee:

    # class variable
    nEmployees = 0

    # attributes
    def __init__(self, name, age, company, salary):
        self.name = name
        self.age  = age
        self.company = company
        self.salary = salary  # 1000000 INR
        self.taxrate = 0
        self.bonus = 0
        self.net_salary = self.salary 
        employee.nEmployees += 1

    # methods

    def set_taxrate(self, tr):
        self.taxrate = tr
        self.update_net_salary()
        return

    def set_bonus(self, bonus_pct):
        try:
            self.bonus = bonus_pct
            temp = float(self.net_salary.split()[0])
            temp = temp + (temp * self.bonus/100)
            self.net_salary = ' '.join([str(temp), 'INR'])
            return
        except:
            print("Incompatible operation")

    def update_net_salary(self):
        try:
            temp = float(self.salary.split()[0])
            temp = temp - (temp * self.taxrate/100)
            print(temp)
            self.net_salary = ' '.join([str(temp), 'INR'])
            return
        except:
            print("Incompatible input")

    def print(self):
        print("\n")
        print("NAME".ljust(20), ' -> ', self.name)
        print("AGE".ljust(20), ' -> ', self.age)
        print("COMPANY".ljust(20), ' -> ', self.company)
        print("-"*80)
        print("GROSS SALARY".ljust(20), ' = ', self.salary)
        print("TAX RATE".ljust(20), ' = ', self.taxrate)
        print("BONUS".ljust(20), ' = ', self.bonus, ' pct')
        print("-"*80)
        print("NET SALARY".ljust(20), ' = ', self.net_salary)

### Application Developer

In [28]:
e = employee("Anil", 35, "UST Global", "1500000 INR")

In [29]:
e.print()

NAME                  ->  Anil
AGE                   ->  35
COMPANY               ->  UST Global
--------------------------------------------------------------------------------
GROSS SALARY          =  1500000 INR
TAX RATE              =  0
BONUS                 =  0  pct
--------------------------------------------------------------------------------
NET SALARY            =  1500000 INR

In [30]:
e.set_taxrate(10)
e.print()

1350000.0


NAME                  ->  Anil
AGE                   ->  35
COMPANY               ->  UST Global
--------------------------------------------------------------------------------
GROSS SALARY          =  1500000 INR
TAX RATE              =  10
BONUS                 =  0  pct
--------------------------------------------------------------------------------
NET SALARY            =  1350000.0 INR

In [31]:
e.set_bonus(10)
e.print()

NAME                  ->  Anil
AGE                   ->  35
COMPANY               ->  UST Global
--------------------------------------------------------------------------------
GROSS SALARY          =  1500000 INR
TAX RATE              =  10
BONUS                 =  10  pct
--------------------------------------------------------------------------------
NET SALARY            =  1485000.0 INR

### Class Variables

In [32]:
employee.nEmployees

1

In [33]:
e.nEmployees

1

In [34]:
e1 = employee("Sunil", 35, "UST Global", "1500000 INR")
e2 = employee("Vinil", 35, "UST Global", "1500000 INR")

In [35]:
employee.nEmployees

3

In [36]:
e.nEmployees, e1.nEmployees, e2.nEmployees

(3, 3, 3)