### 18.1 Inheritence

##### Inherited class derives the data and behaviour from the parent class

In [35]:
class employee:

    # class variable
    nEmployees = 0

    # attributes
    def __init__(self, name='', age=0, company='', salary=''):
        self.name = name
        self.age  = age
        self.company = company
        self.salary = salary  # 1000000 INR
        self.taxrate = 0
        self.bonus = 0
        self.net_salary = self.salary 
        employee.nEmployees += 1

    # methods

    def set_taxrate(self, tr):
        self.taxrate = tr
        self.update_net_salary()
        return

    def set_bonus(self, bonus_pct):
        try:
            self.bonus = bonus_pct
            temp = float(self.net_salary.split()[0])
            temp = temp + (temp * self.bonus/100)
            self.net_salary = ' '.join([str(temp), 'INR'])
            return
        except:
            print("Incompatible operation")

    def update_net_salary(self):
        try:
            temp = float(self.salary.split()[0])
            temp = temp - (temp * self.taxrate/100)
            print(temp)
            self.net_salary = ' '.join([str(temp), 'INR'])
            return
        except:
            print("Incompatible input")

    def print(self):
        print("\n")
        print("NAME".ljust(20), ' -> ', self.name)
        print("AGE".ljust(20), ' -> ', self.age)
        print("COMPANY".ljust(20), ' -> ', self.company)
        print("-"*80)
        print("GROSS SALARY".ljust(20), ' = ', self.salary)
        print("TAX RATE".ljust(20), ' = ', self.taxrate)
        print("BONUS".ljust(20), ' = ', self.bonus, ' pct')
        print("-"*80)
        print("NET SALARY".ljust(20), ' = ', self.net_salary)

##### Syntax for inheritance

In [36]:
class newEmployee(employee): # newEmployee is inherited from employee
    pass

In [37]:
e = newEmployee("Anil", 35, "UST Global", "1500000 INR")
e.set_taxrate(10)
e.set_bonus(10)
e.print()

1350000.0


NAME                  ->  Anil
AGE                   ->  35
COMPANY               ->  UST Global
--------------------------------------------------------------------------------
GROSS SALARY          =  1500000 INR
TAX RATE              =  10
BONUS                 =  10  pct
--------------------------------------------------------------------------------
NET SALARY            =  1485000.0 INR

In [7]:
e.nEmployees

3

### 18.2 Adding new attributes and behavior

Attributes: married, phone, address, workmode
Functionality: update_maritalstatus, update_phone, update_address, update_workmode
Override: print

In [32]:
import re

class extEmployee(employee):

    def __init__(self, name, age, company, salary, marital_status):
        # New attributes
        self.phone = "+910000000000"
        self.address = ""
        self.workmode = "Office"
        self.maritalstatus = marital_status
        # Attributes initialized in parent class
        super().__init__(name, age, company, salary)

    # New functions
    def update_maritalstatus(self, status):
        if(status in ["married", "unmarried", "single"]):
            self.maritalstatus = status
        return

    def update_phone(self, phone):
        if re.match(r"\+91\d{10}", phone):
            self.phone = phone
        return

    def update_address(self, addr):
        self.addr = addr

    def update_workmode(self, mode):
        if mode in ["home", "office", "hybrid"]:
            self.workmode = mode

In [11]:
e = extEmployee("Sunil", 35, "UST Global", "1500000 INR", "married")
# Calling functions from parent side
e.set_taxrate(10)
e.set_bonus(10)
# Calling functions from the child
e.update_phone("+918876534545")
e.update_address("Jayanagar, Bengaluru - 560040")
# Print from parent class - why?
e.print()

1350000.0


NAME                  ->  Sunil
AGE                   ->  35
COMPANY               ->  UST Global
--------------------------------------------------------------------------------
GROSS SALARY          =  1500000 INR
TAX RATE              =  10
BONUS                 =  10  pct
--------------------------------------------------------------------------------
NET SALARY            =  1485000.0 INR

##### Obvious expectation: print the newly added attributes as well!

### 18.3 Method Override

The print() from the parent side is not suffient enough to handle the newly added attributes
Most importantly it does not even have the access to the newly added attributes

In [40]:
import re

class extEmployee(employee):

    def __init__(self, name, age, company, salary, marital_status):
        # New attributes
        self.phone = "+910000000000"
        self.address = ""
        self.workmode = "Office"
        self.maritalstatus = marital_status
        # Attributes initialized in parent class
        super().__init__(name, age, company, salary)

    # New functions
    def update_maritalstatus(self, status):
        if(status in ["married", "unmarried", "single"]):
            self.maritalstatus = status
        return

    def update_phone(self, phone):
        if re.match(r"\+91\d{10}", phone):
            self.phone = phone
        return

    def update_address(self, addr):
        self.address = addr

    def update_workmode(self, mode):
        if mode in ["home", "office", "hybrid"]:
            self.workmode = mode

    # Override the print()
    def print(self):
        super().print() # To print the parent side details
        print("-"*80)
        print("MARITAL STATUS".ljust(20), ' = ', self.maritalstatus)
        print("PHONE".ljust(20), ' = ', self.phone)
        print("ADDRESS".ljust(20), ' = ', self.address)
        print("WORK MODE".ljust(20), ' = ', self.workmode)

In [41]:
e = extEmployee("Sunil", 35, "UST Global", "1500000 INR", "married")
# Calling functions from parent side
e.set_taxrate(10)
e.set_bonus(10)
# Calling functions from the child
e.update_phone("+918876534545")
e.update_address("Jayanagar, Bengaluru - 560040")
# Print from parent class - why?
e.print()

1350000.0


NAME                  ->  Sunil
AGE                   ->  35
COMPANY               ->  UST Global
--------------------------------------------------------------------------------
GROSS SALARY          =  1500000 INR
TAX RATE              =  10
BONUS                 =  10  pct
--------------------------------------------------------------------------------
NET SALARY            =  1485000.0 INR
--------------------------------------------------------------------------------
MARITAL STATUS        =  married
PHONE                 =  +918876534545
ADDRESS               =  Jayanagar, Bengaluru - 560040
WORK MODE             =  Office